/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 18px 0px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

.logo {
  margin-left: 100px;
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #2ecc71;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 17px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: black;
}

/* SIGN IN BUTTON */
.signin {
  background: #2ecc71;
  border: none;
  padding: 8px 22px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.signin:hover {
  opacity: 0.8;
}

/* CARDS */
.cards-container {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card {
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin-bottom: 12px;
  font-size: 24px;
}

.card p {
  line-height: 1.5;
  margin-bottom: 20px;
}

/* CARD COLORS */
.white {
  background: white;
}

.black {
  background: #000;
  color: white;
}

.gray {
  background: #444;
  color: white;
}

/* BUTTONS */
.green-btn {
  background: #2ecc71;
  color: white;
  padding: 10px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.green-btn:hover {
  opacity: 0.85;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 60px;
  padding: 18px 0;
  background: black;
  color: rgb(224, 189, 12);
  font-size: 15px;
  letter-spacing: 1px;
}
